<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <body>
    <div ng-app="testUser">
      <div ng-controller="MainCtrl as vm">
        <button ng-click="vm.addUser()">
        Add Random Test User
        </button>
      
      </div>
    </div>
  </body>
</html>
